@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');



 :root{  /* inciando a variavel*/
  --subcor: rgb(33, 2, 106); /* nomeando a variavel de --subcor e guardadno uma cor nela.*/
 } /* Fechando a o bloco da variavel root.*/
*{ margin:0;
   padding: 0;
   border: 0;     
   font-family: 'Gideon Roman', cursive;
   color: rgb(246, 244, 244);
   text-decoration: none;
}
  body  {
    background-color: rgb(4, 7, 64);
  }
  header {
    padding: 32px;
    border-bottom: 3px solid var(--subcor);
    background-color: rgba(0, 0,0, 0.1);
  }
  .links  {
    text-align: center;
  }

  .links a {
    color:rgb(255, 255, 255);
    font-size: 20px;
    line-height: 30px;
    margin: 0 16px;
    text-decoration: none;
    font-family: 'Gideon Roman', cursive;
  }
  .links a:hover {
    color: var(--subcor);
    transition: 600ms;
    font-size: 23px;
  }
  #box  {
    text-align: center;
    padding-top: 23px;
  }

  #box img {
    border-radius: 50%;
    margin-bottom: 40px;
    
  }
  #box img:hover {
    transition: 700ms;
    border-top: 3px solid var(--subcor);
    border-bottom: 3px solid var(--subcor);
    
  }
  #box h1   {
    padding: 4px;
  }

  #box h2   {
    padding: 10px;
}
  #box p:hover {
    font-size: 23px;
  }

  #box  a {
    color: var(--subcor);
    transition: 600ms; 
  }

  #linksFooter  {
    padding-top: 32px;
  }

  #linksFooter a {
   margin-top: 32px;

    
  }
  #linksFooter a:hover {
    border:3px solid var(--subcor) ;
  }


  .cards{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    padding: 30px;
  }
  .card{
    background-color: rgb(29, 8, 210);
  }
  .card_image img{
     width: 100%;
  }
  .card_content,.card_info{
    padding: 10px;
  }

  .card_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card_price{
    background-color: rgb(0, 136, 255);
    filter: brightness(50%);
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
  }
  .modal_overlay{
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }

  .modal{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
  }
  .modal .close_modal {
    color: black;
    position: absolute;
    right: 8xp;
    top: 8xp;
    cursor: pointer;
  }

  .modal_overlay.active {
    opacity: 1;
    visibility: visible;
  }